html, body {
    height: 100%;
  }

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica;
    display: flex;
    flex-direction: column;
    color: white;
    background-size: auto;
    background-position: static;
  }

/* Container Around Portfolio Images */
#portfolio-images {
    background-color: #829cb4;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 25px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 65%;
  }

/* Images Inside Portfolio Container */
.col-sm-6 {
    padding: 15px;
  }

.card {
    width: 18rem;
    margin-right: 5px;
    margin-top: 3px;
}

/* Image Hover Animation */
img:hover {
    box-shadow: 0 0 2px 2px #ea8bb7;
  }

  @media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    } 
  } 
  @media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    } 
  } 
  @media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    } 
  }
  
  .container-small, .container-large {
    max-width: 100%;
  }